<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSF Bank - About</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav>
        <div class="top-bar">
            <a href="/" class="title">
                TSF Bank
                </a>
    
                <a href="/contact" class="link">
                    Contact us
                </a>
    
                <a href="/about" class="link">
                    About
                </a>

                <a href="/transactions" class="link">
                    Transactions
                </a>
    
                <a href="/banking" class="link">
                    Banking
                </a>
    
                <a href="/" class="link">
                    Home
            </a>
        </div>
    </nav>

    <!-- About us -->
    <div class="about">
        <h2 class="about-title">
            Who We Are
        </h2>
        <p class="about-para">
            TSF Bank is one of India’s leading private banks and was among the first to receive approval from the Reserve Bank of India (RBI) to set up a private sector bank in 1976.
            Today, TSF Bank has a banking network of 7,000 branches and 21,000 ATMs spread across 2,848 cities and towns. Our Core Values
        </p>

        <div class="icons">
            <div class="grid">
                <img src="static/images/excellence.svg" alt="" class="icon"> <br> Excellence
            </div>
            <div class="grid">
                <img src="static/images/Customer-focus.svg" alt="" class="icon"> <br> Customer-focus 
            </div>
            <div class="grid">
                <img src="static/images/product-leadership.svg" alt="" class="icon"> <br> Product-leadership
            </div>
            <div class="grid">
                <img src="static/images/Sustainability.svg" alt="" class="icon"> <br> Sustainability 
            </div>
            <div class="grid">
                <img src="static/images/people.svg" alt="" class="icon"> <br> Sustainability 
            </div>
        </div>

        <hr>
        <a href="" class="know-more">
            Know More
        </a>
    </div>

    <div class="margin">
        <h2>
            Our Businesses 
        </h2>
    </div>
    

    <div class="our-business">
        
        <div class="grid">
            <h3 class="about-title">
                Retail Banking
            </h3>
            <p class="about-para">
                TSF Bank offers a diverse range of financial products and banking services to customers through a growing branch and ATM network and digital channels such as Netbanking, Phonebanking and MobileBanking.
            </p>
        </div>

        <div class="grid">
            <h3 class="about-title">
                Wholesale Banking
            </h3>
            <p class="about-para">
                TSF Bank offers a wide gamut of commercial and transactional banking services to businesses and organizations of all sizes. Our services include working capital finance, trade services, transactional services and cash management.       
            </p>
        </div>

        <div class="grid">
            <h3 class="about-title">
                Treasury
             </h3>
             <p class="about-para">
                 Under our treasury services, we help businesses generate better returns on their funds and manage financial risk. We focus on three main product areas: foreign exchange and derivatives, local currency money market and debt securities, and equities.       
             </p>
        </div>        

    </div>

    <div class="margin">
    <hr>
    <a href="" class="know-more">
        Know More
    </a>
    </div>
    
       <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
    <br> <br>
    <h3> Let's get connected and work together </h3>

    <!-- Footer Elements -->
    <div id="contact" class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/papansarkar1.1" target="_blank">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
            </a>
            <!-- Linkedin -->
            <a class="ln-ic" href="https://www.linkedin.com/in/papansarkar101/" target="_blank">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- github +-->
            <a class="git-ic" href="https://github.com/papansarkar101" target="_blank">
              <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- instagram -->
            <a class="in-ic" href="https://www.instagram.com/papansarkar101/" target="_blank">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic" href="https://twitter.com/papansarkar101" target="_blank">
                <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
    
    

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <br>
      This Porject is made by <a href="https://www.linkedin.com/in/papansarkar101/"> Papan Sarkar </a> while doing internship in <a href="https://www.thesparksfoundationsingapore.org/"> The Sparks Foundation </a> <br>
      © 2020 Copyright:<a href="https://github.com/papansarkar101"> Papan Sarkar </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</body>
</html>